<h1>List of the stores albums:</h1>

<% for album in @albums do %>

<p>Artist Name: <%= album.artist.artist_name %></p>
<p>Album Name: <%= album.album_name %></p>
<p>Genre: <%= album.genre %></p>
<p>Number In Stock: <%= album.stock %></p>

<form action="/recordstore/<%= album.id %>/edit">
  <input type="submit" value="Edit album details">
</form>

<form action="/recordstore/<%= album.id %>/delete" method="post">
  <input type="submit" value="Delete Album">
</form>

<hr>

 <% end %>
