<h1>List of the stores albums:</h1>

<% for album in @albums do %>

<div class="products">
<p><b> <%= album.artist.artist_name %></b></p>
<p><c><%= album.album_name %></c></p>
<p><d><%= album.genre %></d></p>
<p><c>Stock Level: <e><%= album.stock_level %></e></c></p>
<p><c> Price Mark Up <e> £<%= album.markup %></e></c></p>


<form action="/recordstore/<%= album.id %>/edit">
  <input class="button" type="submit" value="Edit album details">
</form>

<form action="/recordstore/<%= album.id %>/delete" method="post">
  <input class="button" type="submit" value="Delete Album">
</form>

<form action="/recordstore/artist/<%= album.artist_id %>/edit" method="get">
  <input class="button" type="submit" value="Edit Artist">
</form>

<form action="/recordstore/artist/<%= album.artist_id %>/delete" method="get">
  <input class="button" type="submit" value="Delete Artist">
</form>

</div>

 <% end %>
