<h1 class="list">List of the stores albums:</h1>

<% for album in @albums do %>

<div class="products">
  <div class="artist"> <%= album.artist.artist_name %></div>
  <div class="album"><%= album.album_name %></div>
  <div class="genre"><%= album.genre %></div>
  <div class="details">Stock Level:</div> <div class="value"><%= album.stock_level %></div>
  <div class="details"> Price Mark Up:</div> <div class="value"> £<%= album.markup %></div>

  <div class="button-bar">
    <form action="/recordstore/<%= album.id %>/edit">
      <input class="button" type="submit" value="EDIT ALBUM">
    </form>


    <form action="/recordstore/<%= album.id %>/delete" method="post">
      <input class="hit" type="submit" value="DELETE ALBUM">
    </form>
  </div>

  <div class="button-bar">
    <form action="/recordstore/artist/<%= album.artist_id %>/edit" method="get">
      <input class="button" type="submit" value="EDIT ARTIST">
    </form>

    <form action="/recordstore/artist/<%= album.artist_id %>/delete" method="get">
      <input class="hit" type="submit" value="DELETE ARTIST">
    </form>


    <!-- <a href="/recordstore/<%= album.id %>/edit" class="button">Edit Album</a>
    <a href="/recordstore/artist/<%= album.artist_id %>/edit" class="button">Edit Artist</a>
    <a href="/recordstore/<%= album.id %>/delete" class="button">Delete Album</a>
    <a href="/recordstore/artist/<%= album.artist_id %>/delete" class="button">Delete Artist</a> -->
  </div>
</div>

 <% end %>
